body
    color: black
a
    color: orange

.home .hero .action-button
    background-color: utrecht
    border-bottom: orange
    color: black
    &:hover
        background-color: green
        border-bottom: lightness(orange, 30%)

.navbar .site-name
    color: gray

a.sidebar-link
    color: black
    &:hover
        color: orange

a.sidebar-link.active
    color: orange
    border-left-color: orange

.navbar .links
    background-color: #fff

.home .feature h2,
.home .hero .description,
.home .footer
    color: gray

.feature.feature
    color: gray
    text-align: center

.home .feature
    h2,
    p
        color: gray

.graph
    margin: 3em 0
    padding: 1.5em
    border: 1px solid rgba(0, 0, 0, .25)
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25), 5px 5px 15px rgba(0, 0, 0, .12)

.figure
    margin: 3em 0
    figcaption
        text-align: center
