body
    color sotm-black
a
    color sotm-orange

.home .hero .action-button
    background-color sotm-utrecht
    border-bottom sotm-orange
    color sotm-black
    &:hover
        background-color: sotm-green
        border-bottom: lightness(orange, 30%)

.navbar .site-name
    color sotm-gray

a.sidebar-link
    color sotm-black
    &:hover
        color sotm-orange

a.sidebar-link.active
    color: sotm-orange
    border-left-color sotm-orange

.navbar .links
    background-color: #fff

.home .feature h2,
.home .hero .description,
.home .footer
    color sotm-gray

.feature.feature
    color sotm-gray
    text-align: center

.home .feature
    h2,
    p
        color sotm-gray

.graph
    margin: 3em 0
    padding: 1.5em
    border: 1px solid rgba(0, 0, 0, .25)
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25), 5px 5px 15px rgba(0, 0, 0, .12)

.figure
    margin: 3em 0
    figcaption
        text-align: center
