.graph
    margin: 3em 0
    padding: 1.5em
    border: 1px solid rgba(0, 0, 0, .25)
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25), 5px 5px 15px rgba(0, 0, 0, .12)

.figure
    margin: 3em 0
    figcaption
        text-align: center

.choice-quotes
    align-items: stretch
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    margin-top: 1em
.warn
    color: black

.go-to-top
    color: sotm-orange !important
    &:hover
        color: lighten(sotm-orange, 25%) !important
