utrecht = #ffd657

.home .hero .action-button
    background-color: utrecht
    border-bottom: lightness(utrecht, 40%)
    color: black
    &:hover
        background-color: lightness(utrecht, 40%)
        border-bottom: lightness(utrecht, 30%)